@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .list {
    display: flex;
  }
  .header-logo {
    margin-right: 76px;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  /*------------------- HERO----------------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-title {
    margin: 0 auto 48px;
  }

  /*------------------- ABOUT----------------- */
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about-list {
    gap: 24px;
  }
  .about-item {
    width: 264px;
  }

  .about-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    width: 264px;
  }

  /*------------------- TEAM----------------- */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  /*------------------- CUSTOMERS----------------- */
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
    margin-left: 0;
    margin-right: 0;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  /*------------------- FOOTER----------------- */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-container-logo {
    margin-left: 0;
  }
  .footer-social {
    margin-left: 120px;
  }
  .subscribe {
    margin-left: 80px;
  }

  /*------------------- EXAMPLES and GALLERY----------------- */
  .examples {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .examples-list {
    justify-content: center;
    margin-bottom: 72px;
  }
  .examples-item {
  }
  .examples-item:not(:last-child) {
    margin-right: 24px;
  }
  .examples-btn {
    color: var(--main-btn-color);
    background: var(--background-main-btn-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 24px;
    transition: box-shadow var(--transition-duration-and-funk),
      color var(--transition-duration-and-funk),
      background var(--transition-duration-and-funk);
  }

  .examples-btn:is(:hover, :focus) {
    color: var(--hover-main-btn-color);
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .galery-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .galery-item {
    transition: box-shadow var(--transition-duration-and-funk);
  }

  .galery-item:is(:hover, :focus) {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .galery-link {
    display: block;
  }
  .galery-link:hover .galery-overlay,
  .galery-link:focus .galery-overlay {
    transform: translate(0, 0);
  }
  .galery-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .galery-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-and-funk);
    line-height: 1.5;
    color: #f4f4fd;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 164px;
    padding-left: 32px;
    background-color: #4d5ae5;
  }
  .galery-card-content-wrapper {
    border: 1px solid var(--border-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
  }
  .galery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--title-text-color);
  }
  .galery-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
