@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .list {
    display: flex;
  }
  .header-logo {
    margin-right: 76px;
  }
  .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  /*------------------- HERO----------------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-title {
    margin: 0 auto 48px;
  }

  /*------------------- ABOUT----------------- */
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about-list {
    gap: 24px;
  }
  .about-item {
    width: 264px;
  }

  .about-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    width: 264px;
    font-weight: 400;
  }

  /*------------------- TEAM----------------- */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  /*------------------- CUSTOMERS----------------- */
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
    margin-left: 0;
    margin-right: 0;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  /*------------------- FOOTER----------------- */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-container-logo {
    margin-left: 0;
  }
  .footer-social {
    margin-left: 120px;
  }
  .subscribe {
    margin-left: 80px;
  }

  /*------------------- EXAMPLES and GALLERY----------------- */
  .examples {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .examples-list {
    margin-bottom: 72px;
  }
  .examples-item:not(:last-child) {
    margin-right: 24px;
  }
  .galery-list {
    row-gap: 48px;
  }
}
